li.nav-item.dropdown
  a.nav-link.dropdown-toggle(id="navbarGetHelp",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
    | <i class="fa fa-hand-paper-o"></i>
    span.hidden-md-down &nbsp;Get Help
  div.dropdown-menu(aria-labelledby="navbarGetHelp")
    if repositoryName && ((activity && activity.xourse && activity.xourse.path) || (xourse && xourse.path))
      a.dropdown-item(id="contact-instructor", href=`/${repositoryName}/${(activity ? (activity.xourse) : xourse).path}/instructors`)
        | <i class="fa fa-envelope-o"></i> Contact my instructor      
    div.dropdown-divider
    if activity && activity.path && activity.title && repositoryMetadata && repositoryMetadata.github              
      // BADBAD: instead of master, perhaps should have activity.commit
      a.dropdown-item(href=`https://github.com/${repositoryMetadata.github.owner}/${repositoryMetadata.github.repository}/issues/new?title=${activity.title.replace(/ +/,' ')}&body=%0A%0ASee%20[${activity.path}.tex](https://github.com/${repositoryMetadata.github.owner}/${repositoryMetadata.github.repository}/blob/master/${activity.path}.tex)`) 
        | <i class="fa fa-exclamation-triangle"></i> Report error to authors
    if path
      a.dropdown-item(href="mailto:ximera-help@osu.edu" + (path ? `?Subject=${path}` : ""))
        | <i class="fa fa-envelope"></i> Request help using Ximera
    if path
      a.dropdown-item(href=`https://github.com/kisonecat/ximera/issues/new?title=${path}`)
        | <i class="fa fa-bug"></i> Report bug to programmers
