include includes/helpers

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title
      if title
        | #{title} - Ximera
      else
        block title
        |  - Ximera

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description",content="Ximera provides the backend technology for online courses")
    meta(name="author", content="The Ximera Project")
    meta(name="keywords", content="mathematics, math, maths, courses, course, education, calculus, complex analysis, algebra, geometry, graphs, plots, MOOC")

    link(href="/public/stylesheets/base.css" + "?v=#{version}", rel="stylesheet", media="screen")

    link(rel="stylesheet",href="//www.osu.edu/assets/fonts/webfonts.css")
    
    if stylesheet
      link(rel="stylesheet/less",type="text/css",href=stylesheet + "?v=#{version}")

    link(rel="stylesheet",type="text/css",href="https://sagecell.sagemath.org/static/sagecell_embed.css")
      
    script(type="text/javascript",src="/node_modules/mathjax/MathJax.js?config=TeX-AMS_HTML&amp;delayStartupUntil=configured")
    script(type="text/javascript",src="https://sagecell.sagemath.org/static/embedded_sagecell.js")
    script(type="text/javascript",src="/public/javascripts/main.min.js?v=#{version}")

    link(rel="apple-touch-icon",sizes="114x114",href="/public/images/icons/favicon-114x114.png")
    link(rel="apple-touch-icon",sizes="72x72",href="/public/images/icons/favicon-72x72.png")
    link(rel="apple-touch-icon",sizes="57x57",href="/public/images/icons/favicon-57x57.png")
    link(rel="shortcut icon",type="image/x-icon",href="/favicon.ico")

    script(type="text/javascript").
      window.define = function(dependencies,callback) {
        var currentScript = document.currentScript || (function() {
          var scripts = document.getElementsByTagName('script');
          return scripts[scripts.length - 1];
        })();
        var targetId = currentScript.getAttribute('data-target');
      
        (window.interactives = window.interactives || []).push({dependencies: dependencies, callback: callback, targetId: targetId});
      };
    
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47676415-1', 'osu.edu');
      ga('send', 'pageview');

    script(type="text/javascript").
      var $buoop = {vs:{i:10,f:25,o:12.1,s:7},c:2}; // The versions to warn about
      function $buo_f(){ 
        var e = document.createElement("script"); 
        e.src = "//browser-update.org/update.min.js"; 
        document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}

    if (!(atOhioState))
      style(type="text/css") .affix-top { top: 0px; }
      
  body
     div
       block modals
     if (atOhioState)
       include includes/osu
     #wrap
       include includes/header
       block content
     .footer
       include includes/footer

