extends layouts/main
include ./activity-card.jade

block title
  if activity.title
    | #{activity.title}
  else
    | Activity

block activity
   div.activity-content
      | !{activity.html}

block updateModal
  div.modal.fade#updateWarningModal(tabindex="-1",role="dialog",aria-labelledby="updateWarningModal")
      div.modal-dialog(role="document")
        div.modal-content<div class="modal-content">
          div.modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title",id="updateModalLabel") Updated Version Available
          div.modal-body
            p There is an <strong>updated version</strong> of this activity, but if you update to the most recent version of this activity, then you will lose your workand have to start over with the new version.  How would you like to proceed?
          div.modal-footer
            button#update-version-button(type="button",class="btn btn-default", data-dismiss="modal")
              | <i class="fa fa-level-down"></i>&nbsp;Keep the old version.
            a#update-version-button(href="/activity/#{activity.commitUpdated}/#{activity.path}",class="btn btn-warning")
              | <i class="fa fa-level-up"></i>&nbsp;Delete my work and update to the new version.

block resetModal
  div.modal.fade#resetWarningModal(tabindex="-1",role="dialog",aria-labelledby="resetWarningModal")
      div.modal-dialog(role="document")
        div.modal-content<div class="modal-content">
          div.modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title",id="resetModalLabel") Warning
          div.modal-body
            p You are about to <strong>erase your work</strong> on this activity.  Are you sure you want to do this?
          div.modal-footer
            button(type="button", class="btn btn-default", data-dismiss="modal") No, keep my work.
            button#reset-work-button(type="button",class="btn btn-danger", data-dismiss="modal")
              | <i class="fa fa-eraser"></i>&nbsp;Yes, delete my work.

block shutdownInvigilatorModal
  div.modal.fade#shutdownInvigilatorModal(tabindex="-1",role="dialog",aria-labelledby="shutdownInvigilatorModal")
      div.modal-dialog(role="document")
        div.modal-content<div class="modal-content">
          div.modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title",id="resetModalLabel") Warning
          div.modal-body
            p You are about to <strong>shut down the invigilator</strong>, which is what guides you through the various problems and exercises.  Are you sure you want to do this?
          div.modal-footer
            button(type="button", class="btn btn-default", data-dismiss="modal") No; I want to continue as before.
            // BADBAD: this does not shut down the invigilator
            a.btn.btn-danger(data-dismiss="modal",href="/#?none")
              | <i class="fa fa-power-off"></i>&nbsp;Yes, shut it down.

block modals
  div
    block resetModal
  div
    block updateModal
  div
    block shutdownInvigilatorModal

block content
  // BADBAD: shouldn't this be removed now that htlatex is working
  // fine? No!  Apparently htlatex still doesn't support two optional
  // arguments like this.
  script(type="math/tex")
    | \newcommand{\dd}[2][]{\frac{d #1}{d #2}}
    | \newcommand{\pp}[2][]{\frac{\partial #1}{\partial #2}}
    | \newcommand{\veci}{\vec{\hat{\bf\imath}}}
    | \newcommand{\vecj}{\vec{\hat{\bf\jmath}}}
    | \newcommand{\utan}{\vec{\hat{t}}}
    | \newcommand{\unormal}{\vec{\hat{n}}}
  div.container
        // BADBAD: only display navigation if the item can be found IN a navigation list
        if (activity.xourse.activityList.length > 0)
          .row
            .col-md-12
              div.course-navigation(data-commit=activity.commit, data-user=user._id.toString())
                div.frame
                  ul.items.pagination
                    for activityUrl in activity.xourse.activityList
                      li(class=( activityUrl == activity.path ) ? "active" : undefined)
                        +activityCard(activity.locator, activityUrl, activity.xourse.activities[activityUrl])
                div.scrollbar
                  div.handle
        .row
          .col-md-12
            if activity.xourse.title
              ol.breadcrumb
                if activity.locator
                  li.breadcrumb-item
                    a(href="/course/" + activity.locator)
                      if (activity.xourse.title) && (activity.xourse.title != '')
                        | !{activity.xourse.title}
                      else
                        | Home
                if activity.chapter
                  li.breadcrumb-item
                    a(href=activity.chapter.url) !{activity.chapter.title}
                li.breadcrumb-item.active
                  if activity.title
                    | !{activity.title}
                  else
                    | Activity
                  
        .row
          .col-md-offset-2.col-md-8.activity(id="theActivity", data-activity=activity.hash, data-locator=activity.locator, data-commit=activity.commit, data-path=activity.path, data-title=activity.title)

            block activity

            ul.pager
             li.previous#previous-activity(class=(previousActivity ? undefined : "disabled"))
               if previousActivity
                 a(href="/course/" + activity.locator + "/" + previousActivity)
                   | &larr; Previous Activity
               else
                 span
                   | &larr; Previous Activity               
             li.next#next-activity(class=(nextActivity ? undefined : "disabled"),completion-blink="")
               if nextActivity
                 a(href="/course/" + activity.locator + "/" + nextActivity)
                   | <span id="next-activity-label">Next Activity</span> &rarr;
               else
                 a(href="#")
                   | <span id="next-activity-label">Next Activity</span> &rarr;
            //p {{db}}
            //p {{currentActivity}}
            //div(forum="#{activity.slug}")
