mixin practiceCard(locator, url, card)
  a.activity-card(class=card.cssClass, href="/course/" + locator + "/" + url, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
    div.progress.vertical
      div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")

mixin regularCard(locator, url, card)   
   if url.match(/^#/)
     h1.activity-card(class=card.cssClass) #{card.title}
   else
     - var style = "background-image: linear-gradient( rgba(255,255,255,0.75), rgba(255,255,255,0.75) );";
     - if (card.splashImage) style = "background-image: linear-gradient( rgba(255,255,255,0.75), rgba(255,255,255,0.75) ) url(/activity/" + locator + '/' + card.splashImage + ');';
     a.activity-card(class=card.cssClass, href="/course/" + locator + "/" + url, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
       div.progress
         div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")
       h2 !{card.title}
       h3 !{card.summary}

mixin activityCard(locator, url, card)
   if (card.cssClass) && (card.cssClass.match( /practice/ ))
     +practiceCard( locator, url, card )
   else
     +regularCard( locator, url, card )
