mixin practiceXourseCardOld(locator, url, card, active)
  a.activity-card(class=card.cssClass, data-weight=card.weight, href=locator + "/" + url,  data-repository-name=repositoryName, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
    div.progress.vertical
      div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")
      
mixin practiceXourseCard(locator, url, card, active)
  .activity-card.text-center(class=card.cssClass + (active ? " active" : ""),data-weight=card.weight, href=locator + "/" + url, data-repository-name=repositoryName, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes),data-toggle="tooltip",data-placement="bottom",title=card.title ? card.title : 'Practice')
    a(href=locator + "/" + url)  
    div.progress.vertical
      div.progress-bar.bg-success(role="progressbar", style="width: 0%;")

mixin titleXourseCard(locator, url, card, active)
  .activity-card.card-sectionheading(class=card.cssClass)
    div.card-block
      h4.card-title !{card.title}
       
mixin regularXourseCard(locator, url, card, active)   
  .activity-card(class=card.cssClass + (active ? " active" : ""),data-weight=card.weight, href=locator + "/" + url, data-repository-name=repositoryName, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
    a(href=locator + "/" + url)  
    div.card-header.p-2
       div.progress
         div.progress-bar.bg-success(role="progressbar", style="width: 0%;")
    div.card-block
      h4.card-title !{card.title}
      div.card-text !{card.summary}
             
mixin xourseCard(repositoryName, xourseUrl, url, card, active)
   - var locator = ((learner && (learner._id != user._id)) ? ('/users/' + learner._id) : '') + ('/' + repositoryName + '/' + xourseUrl);
   if (card.cssClass) && (card.cssClass.match( /practice/ ))
     +practiceXourseCard( locator, url, card, active )
   else
     if url.match(/^#/)
       +titleXourseCard( locator, url, card, active )     
     else
       +regularXourseCard( locator, url, card, active )


