extends layouts/main

block title
  | #{activity.title}

block content
    div.container
      div.pull-right.btn-toolbar(role="toolbar")
        .btn-group
          a.btn.btn-info(href="../")
            | <i class="fa fa-pencil"></i> Do Activity
        .btn-group
          a.btn.btn-primary(href="https://github.com/#{activity.slug.split(':')[0]}/blob/master/#{activity.relativePath}")
            | <i class="fa fa-github-alt"></i> View on GitHub

      .page-header
         h1 #{activity.title}
           small &nbsp;source code
      pre(class="brush: latex; gutter: false;")
        | #{activity.latexSource}


