////////////////////////////////////////////////////////////////
// This is the new version

mixin practiceXourseCard(locator, url, card)
  a.activity-card(class=card.cssClass, data-weight=card.weight, href=locator + "/" + url,  data-repository-name=repositoryName, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
    div.progress.vertical
      div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")

mixin regularXourseCard(locator, url, card)   
   if url.match(/^#/)
     h1.activity-card(class=card.cssClass) #{card.title}
   else
     - var style = "background-image: linear-gradient( rgba(255,255,255,0.75), rgba(255,255,255,0.75) );";
     - if (card.splashImage) style = "background-image: linear-gradient( rgba(255,255,255,0.75), rgba(255,255,255,0.75) ) url(/activity/" + locator + '/' + card.splashImage + ');';
     a.activity-card(class=card.cssClass,data-weight=card.weight, href=locator + "/" + url, data-repository-name=repositoryName, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
       div.progress
         div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")
       div.card-title !{card.title}
       div.card-summary !{card.summary}

mixin xourseCard(repositoryName, xourseUrl, url, card)
   - var locator = '/' + repositoryName + '/' + xourseUrl;
   if (card.cssClass) && (card.cssClass.match( /practice/ ))
     +practiceXourseCard( locator, url, card )
   else
     +regularXourseCard( locator, url, card )


////////////////////////////////////////////////////////////////
// This is the old version

mixin practiceCard(locator, url, card)
  a.activity-card(class=card.cssClass,data-weight=card.weight,  href="/course/" + locator + "/" + url, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
    div.progress.vertical
      div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")

mixin regularCard(locator, url, card)   
   if url.match(/^#/)
     h1.activity-card(class=card.cssClass) #{card.title}
   else
     - var style = "background-image: linear-gradient( rgba(255,255,255,0.75), rgba(255,255,255,0.75) );";
     - if (card.splashImage) style = "background-image: linear-gradient( rgba(255,255,255,0.75), rgba(255,255,255,0.75) ) url(/activity/" + locator + '/' + card.splashImage + ');';
     a.activity-card(class=card.cssClass, data-weight=card.weight, href="/course/" + locator + "/" + url, data-path=url, style=style, data-hashes=JSON.stringify(card.hashes))
       div.progress
         div.progress-bar.progress-bar-success(role="progressbar", style="width: 0%;")
       div.card-title !{card.title}
       div.card-summary !{card.summary}

mixin activityCard(locator, url, card)
   if (card.cssClass) && (card.cssClass.match( /practice/ ))
     +practiceCard( locator, url, card )
   else
     +regularCard( locator, url, card )
