extends layouts/main

block title
  if activity.title
    | #{activity.title}
  else
    | Activity

block modals
  include modals/reset  
  include modals/update

block content
  // BADBAD: shouldn't this be removed now that htlatex is working
  // fine? No! Apparently htlatex still doesn't support two optional
  // arguments like this.
  include page/global-preamble
  include page/navigation
  if activity.xourse.title
    include page/breadcrumbs
  div.container-fluid
    // BADBAD: only display navigation if the item can be found IN a navigation list
    .row
      .col-md-12
    .row.justify-content-center
      .col-md-10
        main.activity(id="theActivity", data-hash=activity.hash, data-repository-name=repositoryName, data-commit=activity.commit, data-path=activity.path, data-title=activity.title, role="main")
          .activity-body#page-content
            | !{activity.html}            
            include page/next-and-previous
