extends ../layouts/main

block title
  | #{repositoryName}
  
block content
  div.container.mt-5
    .row.p-2
      h1(role="banner") #{repositoryName}
  .container.ml-5.p-5
     for xourse in xourses
       div.row
         h2 
           a(href=`/${repositoryName}/${xourse.path}`) #{xourse.title}
       if xourses.indexOf(xourse) < xourses.length - 1
         hr