extends ../layouts/main
include ../activity-card.pug

block title
  | #{xourse.title}

block modals
                
block content
  div.container
    .row.p-2
      h1(role="banner") #{xourse.title}
      .input-group.ml-auto.w-25
        input.form-control(id="xourse-search",type="search",placeholder="Search for...")
        span.input-group-addon
          i.fa.fa-search        
  
    div.card-group(class="xourse", data-commit=xourse.commit, data-user=user._id.toString(),data-points=xourse.totalPoints)
      for activityUrl in xourse.activityList
        +xourseCard(repositoryName, xourse.path, activityUrl, xourse.activities[activityUrl])
    hr
    .row
      .col-md-12
        p You can download a 
          a.btn.btn.btn-primary(type="button", href="/" + repositoryName + "/" + xourse.path + "/certificate")
            | <i class="fa fa-certificate"></i> Certificate
          | &nbsp;as a record of your successes.
    
