extends ../layouts/main
include ../activity-card.pug

block title
  | #{xourse.title}

block modals
  include ../modals/update-xourse
  
block content
  nav(aria-label="breadcrumb",role="navigation")
    ol.breadcrumb
      li.breadcrumb-item
        - var level = 1;      
        a(href="/" + repositoryName, aria-level=level)
            | !{repositoryName}
      li.breadcrumb-item.active
        if (xourse.title) && (xourse.title != '')
          | !{xourse.title}
        else
          | Home

  div.container  
    main.xourse.card-group(data-commit=xourse.commit, data-hash=xourse.hash, data-points=xourse.totalPoints, data-path=xourse.path, data-repository-name=repositoryName, data-learner=learner ? learner._id : undefined, data-xourse-path=xourse.path, data-xourse-url=repositoryName + '/' + xourse.path)
      for activityUrl in xourse.activityList
        +xourseCard(repositoryName, xourse.path, activityUrl, xourse.activities[activityUrl])
    hr
    .row
      .col-md-12
        p You can download a 
          a.btn.btn.btn-primary(type="button", href="/" + repositoryName + "/" + xourse.path + "/certificate")
            | <i class="fa fa-certificate"></i> Certificate
          | &nbsp;as a record of your successes.
    
