extends ../layouts/main

mixin developer(person)
  if person['link']
    a(href=person['link'])
      +person_photo(person)
  else
    +person_photo(person)

  h4 
    if person['email']
      span.developer-email
        a(href="mailto:#{person['email']}") #{person['email']}
    if person['link']
      a(href=person['link'])
        | #{person['name']}
    else
      | #{person['name']}

  p
    | !{person['description']}

mixin person_photo(person)
  if person['photo']    
    img(style="float: left; margin-right: 16pt; margin-left: 16pt; margin-bottom: 16pt;" class="img-rounded" src="/public/images/people/#{person['photo']}-150.jpg")
  else
    img(style="float: left; margin-right: 16pt; margin-left: 16pt; margin-bottom: 16pt;" class="img-rounded" src="/public/images/people/silhouette-150.png")

block content
  .container
     mixin breadcrumbs(['/about','/about/team'],['About Ximera','Development Team'])
     .page-header
       h1 Development Team
         small  or Who made this?
     p This project is funded by <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1245433">NSF Grant DUE-1245433</a>; the principal investigator is Herb Clemens, and Co-PIs are Jim Fowler and Bart Snapp.
     p It takes quite a few people, however, to make an experience like this possible.
     - var people_per_row = 2;
     - for (var i = 0; i < team.length / people_per_row; ++i) {
       .row
         - for (var j = 0; j < people_per_row; ++j) {
           - var person = team[people_per_row*i + j]
           .col-md-6
             if person
               mixin developer(person)
         - }
     - }

     include:md team.markdown

