extends ../layouts/main

include ../links.jade

mixin viewSource()
  a.pull-right.btn.btn-info.btn-sm(role="button",href="source/")
    | <i class="fa fa-code"></i> View Source

block title
  | #{activity.title}

block activity
      .page-header
        div.pull-right.btn-toolbar(role="toolbar")
          if !activity.recent
            .btn-group
              a.pull-right.btn.btn-sm.btn-primary(role="button", ng-confirm-click="Updating to the most recent version of this activity will erase your work. Are you sure you want to update to the new version?", href="update/")
                | <i class="fa fa-level-up"></i> Update Activity
          .btn-group
            button.btn.btn-warning.btn-sm.dropdown-toggle(type="button",data-toggle="dropdown")
              | <i class="fa fa-bug"></i> Report Bug <span class="caret"></span>
            ul.dropdown-menu
              li
                a(href="https://github.com/#{activity.slug.split(':')[0]}/issues/new") Report error in content
              li
                a(href="https://github.com/kisonecat/ximera/issues/new") Report error with website
          .btn-group
            button.pull-right.btn.btn-sm.btn-danger(type="button",ng-controller="ResetButtonCtrl", ng-confirm-click="Are you sure you want to erase your work?", ng-click="resetPage()")
              | <i class="fa fa-eraser"></i> Erase Work
          //.btn-group
          //  mixin viewSource()
          .btn-group
            a.pull-right.btn.btn-default.btn-sm(role="button",href="https://github.com/#{activity.slug.split(':')[0]}/edit/master/#{activity.relativePath}")
              | <i class="fa fa-pencil"></i> Edit Source
          .btn-group
            button.pull-right.btn.btn-sm.btn-primary(type="button", ng-controller="SaveWorkCtrl", ng-click="updateState()")
              span(ng-if="saved")
                | <i class="fa fa-save"></i> Work Saved!
              span(ng-if="!saved")
                | <i class="fa fa-save"></i> Save Work
         h1 #{activity.title}
      | !{activityHtml}
      //p #{activityHtml}


block content
    div.container(ng-init="course=#{JSON.stringify(course)}; currentActivity=#{JSON.stringify(activity)};")
        div(course-breadcrumbs="")
        .row
          .col-md-9.activity(data-activityId=activityId, style="display: none;", ng-controller="ActivityController")
            ul.pager
             li.previous(class=(previousActivity ? undefined : "disabled"))
               +courseActivityLink(course,previousActivity)
                 | &larr; Previous Activity
             li.next(class=(nextActivity ? undefined : "disabled"),completion-blink="")
               +courseActivityLink(course,nextActivity)
                 | Next Activity &rarr;

            block activity

            ul.pager
             li.previous(class=(previousActivity ? undefined : "disabled"))
               +courseActivityLink(course,previousActivity)
                 | &larr; Previous Activity
             li.next(class=(nextActivity ? undefined : "disabled"),completion-blink="")
               +courseActivityLink(course,nextActivity)
                 | Next Activity &rarr;
            //p {{db}}
            //p {{currentActivity}}
            div(forum="#{activity.slug}")
          .col-md-3.course-navigation(course-navigation="")
