extends ../layouts/main

include ../links.jade

mixin viewSource()
  a.pull-right.btn.btn-info.btn-sm(role="button",href="source/")
    | <i class="fa fa-code"></i> View Source

block title
  | #{activity.title}

block activity
      div.pull-right.btn-toolbar(role="toolbar")
        if !activity.recent
          .btn-group
            a.pull-right.btn.btn-sm.btn-primary(role="button", href="update/")
              | <i class="fa fa-level-up"></i> Update Activity
        .btn-group
          button.pull-right.btn.btn-sm.btn-danger(type="button",ng-controller="ResetButtonCtrl", ng-click="resetPage()")
            | <i class="fa fa-eraser"></i> Erase Work
        .btn-group
          mixin viewSource()
      .page-header
         h1 #{activity.title}
      | !{activityHtml}


block content
    div.container
      mixin breadcrumbs(["/course/"].concat(["/course/" + course.slug + "/"]).concat(_.map( breadcrumbs, function(crumb) { return course.activityURL(crumb); } )), ["Courses"].concat([course.name]).concat(_.map( breadcrumbs, function(crumb) { return crumb.title; } )))
      div.activity(data-activityId=activityId, style="display: none;", ng-controller="ActivityController")
        .row
          .col-md-3
            .list-group
              - for sibling in course.activitySiblings(activity)
                a.list-group-item(href="/course/#{course.slug}/activity/#{course.normalizeSlug(sibling.slug)}/",class=(sibling.slug === activity.slug ? "active" : undefined))
                  h4.list-group-item-heading #{sibling.title}
                  p.list-group-item-text #{sibling.description}
          .col-md-9
            block activity

            .list-group
              - for child in course.activityChildren(activity)
                a.list-group-item(href=course.activityURL(child))
                  h4.list-group-item-heading #{child.title}
                  p.list-group-item-text #{child.description}           

            ul.pager
             li.previous(class=(previousActivity ? undefined : "disabled"))
               +courseActivityLink(course,previousActivity)
                 | &larr; Previous Activity
             li.next(class=(nextActivity ? undefined : "disabled"))
               +courseActivityLink(course,nextActivity)
                 | Next Activity &rarr;

      //#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
      //.controls
      //input(id="field",style='width:350px;')
      //  input(id="send",type='button', value='send')
      div(class="chat",id="blah")
