extends ../layouts/main

include ../links.jade

mixin viewSource()
  a.pull-right.btn.btn-info.btn-sm(role="button",href="source/")
    | <i class="fa fa-code"></i> View Source

block title
  | #{activity.title}

block activity
      .page-header
        div.pull-right.btn-toolbar(role="toolbar")
          if !activity.recent
            .btn-group
              a.pull-right.btn.btn-sm.btn-primary(role="button", href="update/")
                | <i class="fa fa-level-up"></i> Update Activity
          .btn-group
            button.pull-right.btn.btn-sm.btn-danger(type="button",ng-controller="ResetButtonCtrl", ng-confirm-click="Are you sure you want to erase your work?", ng-click="resetPage()")
              | <i class="fa fa-eraser"></i> Erase Work
          .btn-group
            mixin viewSource()
         h1 #{activity.title}
      div(completion-meter="")
      | !{activityHtml}
      // p #{activityHtml}


block content
    div.container(ng-init="course=#{JSON.stringify(course)}; currentActivity=#{JSON.stringify(activity)};")
        div(course-breadcrumbs="")
        .row
          .col-md-9.activity(data-activityId=activityId, style="display: none;", ng-controller="ActivityController")
            block activity

            ul.pager
             li.previous(class=(previousActivity ? undefined : "disabled"))
               +courseActivityLink(course,previousActivity)
                 | &larr; Previous Activity
             li.next(class=(nextActivity ? undefined : "disabled"),completion-blink="")
               +courseActivityLink(course,nextActivity)
                 | Next Activity &rarr;
            //p {{db}}
            //p {{currentActivity}}
            div(forum="#{activity.slug}")
          .col-md-3.course-navigation(course-navigation="")

