extends ../layouts/main

block title
  | #{course.name}

block content
  .container
     mixin breadcrumbs(['/course/',"/course/#{course.slug}/"],['Courses',course.name])
     .page-header
       h1 #{course.name}
     p #{course.description}
     p #{course}
